{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container">
  <h2>Upload Image</h2>
  <form action="/action_page.php">

    <div class="jumbotron">
      <input type="text" size="100" class="form-control"  name="name" placeholder="Enter Image Description">
      <br>
      <input type="file" class="custom-file-input"  name="filename">

    </div>

  <hr>

    <div class="mt-3">
      <button type="submit" class="btn btn-primary">Upload</button>
    </div>
  </form>
</div>



{% endblock %}