<div class="row">
    <h4>Get Social With Us</h4>
    <div id="social">
        <a class="facebookBtn smGlobalBtn" href="https://www.facebook.com/pages/Bigbasketcom/139311472851666" target="_blank"></a>
        <a class="pinterestBtn smGlobalBtn" href="https://in.pinterest.com/bigbasketcom/" target="_blank"></a>
        <a class="twitterBtn smGlobalBtn" href="https://twitter.com/Bigbasket_com" target="_blank"></a>
        <a class="instagramBtn smGlobalBtn" href="https://www.instagram.com/bigbasketcom/" target="_blank"></a>
    </div></div>